.product-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 20px 50px;
    margin: 0 auto;
}
input,
select,
button{
    margin-bottom: 10px;
    padding: 8px;
    gap:1;
    border-radius: 4px;
    border: 1px solid #ccc;
}