.container{
  background: rgb(231, 241, 231);
}
.heading {
  text-align: center;
}
.list-heading{
 margin-left: 50px;
}
.product-list{
  list-style : none;
  padding: 0;
}
.product-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 5px;
}
.product-item div{
  margin-bottom: 5px;
}

